*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

label {
  display: inline-block;
}

button {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

/*reset up*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-bookmark"]::before {
  content: "\e900";
}

[class*="--icon-done"]::before {
  content: "\e901";
}

[class*="--icon-done-medium"]::before {
  content: "\e902";
}

[class*="--icon-facebook"]::before {
  content: "\e904";
}

[class*="--icon-instagram"]::before {
  content: "\e905";
}

[class*="--icon-save"]::before {
  content: "\e906";
}

[class*="--icon-star"]::before {
  content: "\e907";
}

[class*="--icon-twiter"]::before {
  content: "\e908";
}

[class*="--icon-logo"]::before {
  content: "\e909";
}

[class*="--icon-shevron"]::before {
  content: "\e90b";
}

.header {
  background-color: #E1F4FF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header--scroll .header__container {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 69px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 65.625em) {
  .header__container {
    min-height: 96px;
  }
}
@media (min-width: 48em) and (max-width: 65.625em) {
  .header__container {
    min-height: clamp( 70px , -0.8085106383px  +  9.219858156vw , 96px );
  }
}
@media (max-width: 48em) {
  .header__container {
    min-height: 70px;
  }
}
@media (min-width: 65.625em) {
  .header__container {
    gap: 189px;
  }
}
@media (min-width: 43.75em) and (max-width: 65.625em) {
  .header__container {
    gap: clamp( 44px , -246px  +  41.4285714286vw , 189px );
  }
}
@media (max-width: 43.75em) {
  .header__container {
    gap: 44px;
  }
}
@media (width < 43.75em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.9375rem;
  }
}
.header__logo {
  position: relative;
  z-index: 3;
}
@media (width < 43.75em) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    background-color: #E1F4FF;
    top: 0;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  [data-menu-open] .header__menu {
    left: 0;
  }
  [data-menu-open] .header__menu::before {
    left: 0;
  }
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.logo-header .logo-header--icon-logo {
  color: #007DFC;
  font-size: 40px;
}
.logo-header__text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  display: none;
}
@media (width > 22.5em) {
  .logo-header__text {
    display: block;
  }
}

.menu-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.menu-header__list {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 67.5em) {
  .menu-header__list {
    gap: 64px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .menu-header__list {
    gap: clamp( 10px , -12.7368421053px  +  7.1052631579vw , 64px );
  }
}
@media (max-width: 20em) {
  .menu-header__list {
    gap: 10px;
  }
}
.menu-header__list {
  color: #737373;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.714;
  color: #737373;
  letter-spacing: 0.2px;
}
@media (width < 43.75em) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #252B42;
    row-gap: 1.5625rem;
    font-size: 1.375rem;
    font-weight: 700;
  }
}
.menu-header__list {
  text-align: end;
}
.menu-header__link {
  position: relative;
}
.menu-header__link::after {
  content: "";
  position: absolute;
  width: 0;
  top: 100%;
  left: 50%;
  translate: -50%;
  height: 0.125rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: #737373;
}
html:not([data-fls-touch]) .menu-header__link:hover::after {
  width: 100%;
}

.header__action-btn {
  z-index: 3;
  padding: 0.375rem 1.5rem 0.375rem 1.5rem;
  background-color: #ffffff;
  border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
  color: #252b42;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
html:not([data-fls-touch]) .header__action-btn:hover {
  background-color: #007DFC;
  color: #fff;
}

.menu-action {
  display: none;
  position: relative;
  width: 1.875rem;
  position: relative;
  height: 1.125rem;
}
.menu-action span, .menu-action::before, .menu-action::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: black;
}
.menu-action::before {
  top: 0;
}
.menu-action::after {
  bottom: 0;
}
.menu-action span {
  translate: 0 -50%;
}
@media (width < 43.75em) {
  .menu-action {
    display: block;
  }
  [data-menu-open] .menu-action span {
    left: 100%;
    width: 0;
  }
  [data-menu-open] .menu-action::before {
    rotate: -45deg;
    top: 50%;
    translate: 0 -50%;
  }
  [data-menu-open] .menu-action::after {
    rotate: 45deg;
    bottom: 50%;
    translate: 0 50%;
  }
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

[class*=__bgc] {
  position: absolute;
  z-index: -20;
  background-color: #E1F4FF;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 65.625em) {
  .pages {
    padding-top: 96px;
  }
}
@media (min-width: 48em) and (max-width: 65.625em) {
  .pages {
    padding-top: clamp( 50px , -75.2765957447px  +  16.3120567376vw , 96px );
  }
}
@media (max-width: 48em) {
  .pages {
    padding-top: 50px;
  }
}
.hero {
  position: relative;
  z-index: 0;
}
@media (min-width: 67.5em) {
  .hero__container {
    padding-top: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .hero__container {
    padding-top: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .hero__container {
    padding-top: 15px;
  }
}
@media (min-width: 67.5em) {
  .hero__container {
    padding-bottom: 60px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .hero__container {
    padding-bottom: clamp( 15px , -3.9473684211px  +  5.9210526316vw , 60px );
  }
}
@media (max-width: 20em) {
  .hero__container {
    padding-bottom: 15px;
  }
}
.hero__container {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (width <= 48em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__body {
  padding-top: 3.3125rem;
}
.hero__title {
  max-width: 27.5rem;
}
@media (min-width: 65.625em) {
  .hero__title {
    font-size: 48px;
  }
}
@media (min-width: 56.25em) and (max-width: 65.625em) {
  .hero__title {
    font-size: clamp( 38px , -22px  +  6.6666666667vw , 48px );
  }
}
@media (max-width: 56.25em) {
  .hero__title {
    font-size: 38px;
  }
}
.hero__title {
  font-weight: 800;
  line-height: 1.33;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 67.5em) {
  .hero__title {
    margin-bottom: 25px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .hero__title {
    margin-bottom: clamp( 15px , 10.7894736842px  +  1.3157894737vw , 25px );
  }
}
@media (max-width: 20em) {
  .hero__title {
    margin-bottom: 15px;
  }
}
.hero span {
  color: #31A0FE;
}
@media (min-width: 49.375em) {
  .hero__text {
    max-width: 354px;
  }
}
@media (min-width: 48em) and (max-width: 49.375em) {
  .hero__text {
    max-width: clamp( 300px , -1585.0909090909px  +  245.4545454545vw , 354px );
  }
}
@media (max-width: 48em) {
  .hero__text {
    max-width: 300px;
  }
}
.hero__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428;
}
@media (min-width: 67.5em) {
  .hero__text {
    margin-bottom: 54px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .hero__text {
    margin-bottom: clamp( 35px , 27px  +  2.5vw , 54px );
  }
}
@media (max-width: 20em) {
  .hero__text {
    margin-bottom: 35px;
  }
}
@media (width <= 48em) {
  .hero__img {
    display: none;
  }
}
@media (width >= 48em) {
  .hero__img {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (width >= 48em) and (min-width: 59.375em) {
  .hero__img {
    max-width: 493px;
  }
}
@media (width >= 48em) and (min-width: 50em) and (max-width: 59.375em) {
  .hero__img {
    max-width: clamp( 400px , -96px  +  62vw , 493px );
  }
}
@media (width >= 48em) and (max-width: 50em) {
  .hero__img {
    max-width: 400px;
  }
}
@media (width >= 48em) and (min-width: 59.375em) {
  .hero__img {
    max-height: 535px;
  }
}
@media (width >= 48em) and (min-width: 50em) and (max-width: 59.375em) {
  .hero__img {
    max-height: clamp( 442px , -54px  +  62vw , 535px );
  }
}
@media (width >= 48em) and (max-width: 50em) {
  .hero__img {
    max-height: 442px;
  }
}
@media (width >= 48em) {
  .hero img {
    width: 100%;
    aspect-ratio: 493/535;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero__elips {
    position: absolute;
    z-index: -3;
    background-color: #23856D;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    bottom: 0%;
    left: 50%;
    translate: -50% 0;
  }
}
@media (width >= 48em) and (min-width: 59.375em) {
  .hero__elips {
    max-width: 421px;
  }
}
@media (width >= 48em) and (min-width: 50em) and (max-width: 59.375em) {
  .hero__elips {
    max-width: clamp( 321px , -212.3333333333px  +  66.6666666667vw , 421px );
  }
}
@media (width >= 48em) and (max-width: 50em) {
  .hero__elips {
    max-width: 321px;
  }
}
@media (width >= 48em) and (min-width: 59.375em) {
  .hero__elips {
    max-height: 421px;
  }
}
@media (width >= 48em) and (min-width: 50em) and (max-width: 59.375em) {
  .hero__elips {
    max-height: clamp( 321px , -212.3333333333px  +  66.6666666667vw , 421px );
  }
}
@media (width >= 48em) and (max-width: 50em) {
  .hero__elips {
    max-height: 321px;
  }
}
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 56.25em) {
  .buttons {
    gap: 24px;
  }
}
@media (min-width: 20em) and (max-width: 56.25em) {
  .buttons {
    gap: clamp( 15px , 10.0344827586px  +  1.5517241379vw , 24px );
  }
}
@media (max-width: 20em) {
  .buttons {
    gap: 15px;
  }
}
@media (min-width: 67.5em) {
  .buttons {
    margin-bottom: 52px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .buttons {
    margin-bottom: clamp( 35px , 27.8421052632px  +  2.2368421053vw , 52px );
  }
}
@media (max-width: 20em) {
  .buttons {
    margin-bottom: 35px;
  }
}
.buttons__btn {
  padding: 0.625rem 2.5rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2;
  color: #252B42;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html:not([data-fls-touch]) .buttons__btn:hover {
  background-color: #31A0FE;
  color: #ffffff;
}
@media (width <= 22.5em) {
  .buttons__btn {
    padding: 0.625rem 1.5625rem;
  }
}

.list-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 22.5em) {
  .list-hero {
    gap: 19px;
  }
}
@media (min-width: 20em) and (max-width: 22.5em) {
  .list-hero {
    gap: clamp( 5px , -107px  +  35vw , 19px );
  }
}
@media (max-width: 20em) {
  .list-hero {
    gap: 5px;
  }
}
.list-hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.33;
  padding: 1rem 0.75rem 1rem 2.875rem;
}
.list-hero__item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #E1F4FF;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #252B42;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 50%;
  translate: 0 -50%;
}

.advantages {
  position: relative;
}
.advantages .div:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (min-width: 65.625em) {
  .advantages__container {
    gap: 31px;
  }
}
@media (min-width: 51.875em) and (max-width: 65.625em) {
  .advantages__container {
    gap: clamp( 15px , -45.3636363636px  +  7.2727272727vw , 31px );
  }
}
@media (max-width: 51.875em) {
  .advantages__container {
    gap: 15px;
  }
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 67.5em) {
  .advantages__container {
    padding-bottom: 73px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .advantages__container {
    padding-bottom: clamp( 23px , 1.9473684211px  +  6.5789473684vw , 73px );
  }
}
@media (max-width: 20em) {
  .advantages__container {
    padding-bottom: 23px;
  }
}
@media (width <= 34.0625em) {
  .advantages__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }
}
.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15.625rem;
          flex: 1 1 15.625rem;
}
@media (width <= 34.0625em) {
  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.75rem;
            flex: 0 0 18.75rem;
  }
}
.advantages__bgc {
  height: 62.244%;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 65.625em) {
  .advantage {
    padding: 35px;
  }
}
@media (min-width: 51.25em) and (max-width: 65.625em) {
  .advantage {
    padding: clamp( 20px , -33.4782608696px  +  6.5217391304vw , 35px );
  }
}
@media (max-width: 51.25em) {
  .advantage {
    padding: 20px;
  }
}
.advantage {
  background-color: #252B42;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #ffffff;
}
.advantage :not(:last-child) {
  margin-bottom: 1.25rem;
}
.advantage__elips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #31A0FE;
}
.advantage__elips img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantage__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
.advantage__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428;
}

@media (min-width: 65.625em) {
  .featured__container {
    padding-top: 100px;
  }
}
@media (min-width: 49.125em) and (max-width: 65.625em) {
  .featured__container {
    padding-top: clamp( 30px , -178.4090909091px  +  26.5151515152vw , 100px );
  }
}
@media (max-width: 49.125em) {
  .featured__container {
    padding-top: 30px;
  }
}
@media (min-width: 65.625em) {
  .featured__container {
    padding-bottom: 128px;
  }
}
@media (min-width: 49.125em) and (max-width: 65.625em) {
  .featured__container {
    padding-bottom: clamp( 40px , -222px  +  33.3333333333vw , 128px );
  }
}
@media (max-width: 49.125em) {
  .featured__container {
    padding-bottom: 40px;
  }
}
.featured__heaader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-featured {
  margin-bottom: 3.125rem;
}
.header-featured__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.425;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 37.5em) {
  .header-featured__title {
    max-width: 355px;
  }
}
@media (min-width: 31.25em) and (max-width: 37.5em) {
  .header-featured__title {
    max-width: clamp( 230px , -395px  +  125vw , 355px );
  }
}
@media (max-width: 31.25em) {
  .header-featured__title {
    max-width: 230px;
  }
}
.header-featured__title {
  width: 100%;
  color: #252B42;
  letter-spacing: 0.0125rem;
}
.header-featured__link {
  position: relative;
  padding-block: 0.625rem;
}
.header-featured__link::after {
  content: "";
  position: absolute;
  width: 0;
  top: 100%;
  left: 50%;
  translate: -50%;
  height: 0.125rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: #737373;
}
html:not([data-fls-touch]) .header-featured__link:hover::after {
  width: 100%;
}

.body-featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.5rem, 1fr));
  gap: 0.6875rem;
}
.body-featured__card {
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.8125rem 1.1875rem 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0.8125rem 1.1875rem 0 rgba(0, 0, 0, 0.07);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.body-featured__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 138/147;
  max-width: 8.625rem;
  width: 100%;
}
.body-featured__img img {
  position: relative;
  width: 100%;
  padding: 0.4375rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 68.75em) {
  .body-featured__body {
    padding: 24px;
  }
}
@media (min-width: 64.375em) and (max-width: 68.75em) {
  .body-featured__body {
    padding: clamp( 20px , -38.8571428571px  +  5.7142857143vw , 24px );
  }
}
@media (max-width: 64.375em) {
  .body-featured__body {
    padding: 20px;
  }
}
.body-featured__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  letter-spacing: 0.00625rem;
}
.body-featured__subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.714;
  margin-bottom: 0.8125rem;
  color: #737373;
}
.body-featured__star {
  margin-bottom: 0.5rem;
  color: #737373;
}
.body-featured__star span {
  width: 0.8125rem;
  height: 0.8125rem;
}
.body-featured__comment {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.33;
  color: #BDBDBD;
}

.benefit__container {
  position: relative;
}
@media (min-width: 65.625em) {
  .benefit__container {
    padding-top: 120px;
  }
}
@media (min-width: 49.125em) and (max-width: 65.625em) {
  .benefit__container {
    padding-top: clamp( 50px , -158.4090909091px  +  26.5151515152vw , 120px );
  }
}
@media (max-width: 49.125em) {
  .benefit__container {
    padding-top: 50px;
  }
}
@media (min-width: 65.625em) {
  .benefit__container {
    padding-bottom: 140px;
  }
}
@media (min-width: 49.125em) and (max-width: 65.625em) {
  .benefit__container {
    padding-bottom: clamp( 70px , -138.4090909091px  +  26.5151515152vw , 140px );
  }
}
@media (max-width: 49.125em) {
  .benefit__container {
    padding-bottom: 70px;
  }
}
.benefit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 65.625em) {
  .benefit__container {
    gap: 60px;
  }
}
@media (min-width: 50em) and (max-width: 65.625em) {
  .benefit__container {
    gap: clamp( 10px , -150px  +  20vw , 60px );
  }
}
@media (max-width: 50em) {
  .benefit__container {
    gap: 10px;
  }
}
.benefit__picture {
  padding: 2.5rem 1.875rem 4.75rem 2.75rem;
  position: relative;
}
@media (min-width: 65.625em) {
  .benefit__picture {
    max-width: 480px;
  }
}
@media (min-width: 59.375em) and (max-width: 65.625em) {
  .benefit__picture {
    max-width: clamp( 430px , -45px  +  50vw , 480px );
  }
}
@media (max-width: 59.375em) {
  .benefit__picture {
    max-width: 430px;
  }
}
@media (min-width: 65.625em) {
  .benefit__picture {
    max-height: 702px;
  }
}
@media (min-width: 59.375em) and (max-width: 65.625em) {
  .benefit__picture {
    max-height: clamp( 652px , 177px  +  50vw , 702px );
  }
}
@media (max-width: 59.375em) {
  .benefit__picture {
    max-height: 652px;
  }
}
.benefit__picture {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: -1;
}
@media (width < 59.375em) {
  .benefit__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .benefit__picture::before, .benefit__picture::after {
    display: none;
  }
}
@media (width <= 53.125em) {
  .benefit__picture {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (width <= 25em) {
  .benefit__picture img {
    display: none;
  }
}
.benefit__picture::before, .benefit__picture::after {
  content: "";
  position: absolute;
  width: 11.25rem;
  height: 11.25rem;
  z-index: -2;
}
.benefit__picture::before {
  top: 0;
  left: 0;
  background-color: #D4EAF6;
}
.benefit__picture::after {
  bottom: 0;
  right: 0;
  background-color: #D6F1CC;
}
.benefit__picture img {
  aspect-ratio: 406/586;
  border-radius: 1.5625rem 0 1.5625rem 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.benefit__body {
  margin: 0 auto;
}
.benefit__body p {
  width: 100%;
}

@media (width > 59.375em) {
  .body-benefit {
    padding-top: 2.5rem;
  }
}
.body-benefit__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.425;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5rem;
}
.body-benefit__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428;
  color: #737373;
  text-align: left;
  max-width: 31.25rem;
}
@media (min-width: 65.625em) {
  .body-benefit__text {
    margin-bottom: 47px;
  }
}
@media (min-width: 59.375em) and (max-width: 65.625em) {
  .body-benefit__text {
    margin-bottom: clamp( 27px , -163px  +  20vw , 47px );
  }
}
@media (max-width: 59.375em) {
  .body-benefit__text {
    margin-bottom: 27px;
  }
}
.body-benefit__text p {
  width: 100%;
}
@media (min-width: 65.625em) {
  .items-benefit .item:not(:first-child) {
    margin-bottom: 47px;
  }
}
@media (min-width: 59.375em) and (max-width: 65.625em) {
  .items-benefit .item:not(:first-child) {
    margin-bottom: clamp( 27px , -163px  +  20vw , 47px );
  }
}
@media (max-width: 59.375em) {
  .items-benefit .item:not(:first-child) {
    margin-bottom: 27px;
  }
}
.item {
  padding: 1.5rem;
  border-radius: 1.5625rem;
  max-height: 7.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 65.625em) {
  .item {
    gap: 24px;
  }
}
@media (min-width: 50em) and (max-width: 65.625em) {
  .item {
    gap: clamp( 15px , -13.8px  +  3.6vw , 24px );
  }
}
@media (max-width: 50em) {
  .item {
    gap: 15px;
  }
}
.item--accent {
  background-color: #252B42;
  color: #ffffff;
}
@media (min-width: 65.625em) {
  .item--accent {
    margin-bottom: 62px;
  }
}
@media (min-width: 59.375em) and (max-width: 65.625em) {
  .item--accent {
    margin-bottom: clamp( 42px , -148px  +  20vw , 62px );
  }
}
@media (max-width: 59.375em) {
  .item--accent {
    margin-bottom: 42px;
  }
}
.item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 4.5rem;
  height: 4.5rem;
  width: 100%;
  background-color: #D4EAF6;
  border-radius: 50%;
}
.item__img img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.item__img--circle__gren {
  background-color: #D6F1CC;
}
.item__img--circle__gren img {
  width: 16px;
}
.item__img--circle__orange {
  background-color: #F3DCD5;
}
.body-item {
  max-width: 21.875rem;
  width: 100%;
}
.body-item__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.3125rem;
}
.body-item__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428;
}

@media (min-width: 65.625em) {
  .up-footer__container {
    padding-block: 80px;
  }
}
@media (min-width: 43.75em) and (max-width: 65.625em) {
  .up-footer__container {
    padding-block: clamp( 50px , -10px  +  8.5714285714vw , 80px );
  }
}
@media (max-width: 43.75em) {
  .up-footer__container {
    padding-block: 50px;
  }
}
.up-footer__container {
  display: grid;
  grid-template-columns: 1fr 15rem 15rem;
  row-gap: 0.3125rem;
  -webkit-column-gap: 1.21875rem;
     -moz-column-gap: 1.21875rem;
          column-gap: 1.21875rem;
}
@media (width < 53.125em) {
  .up-footer__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (width < 34.375em) {
  .up-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.up-footer__text {
  max-width: 13.0625rem;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428;
  color: #737373;
}
.up-footer__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  font-family: "Open Sans", sans-serif;
  color: #252B42;
  margin-bottom: 1.25rem;
}
.up-footer__title[data-open] .up-footer__button::before {
  rotate: -90deg;
}
.up-footer__button::before {
  z-index: -1;
  -webkit-transition: rotate 0.5s;
  transition: rotate 0.5s;
}
@media (width >= 34.375em) {
  .up-footer__button {
    cursor: default;
  }
  .up-footer__button::before {
    display: none;
  }
}
@media (width <= 34.375em) {
  .up-footer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
    padding: 0.625rem 0.625rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  }
  .up-footer__button::before {
    rotate: 90deg;
  }
}
.up-footer__columns--special > *:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.up-footer__list {
  color: #737373;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.up-footer__list li {
  padding: 0.3125rem;
}
.up-footer__list li:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (min-width: 67.5em) {
  .up-footer__list[data-footer-menu-open] {
    margin-top: 20px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .up-footer__list[data-footer-menu-open] {
    margin-top: clamp( 15px , 12.8947368421px  +  0.6578947368vw , 20px );
  }
}
@media (max-width: 20em) {
  .up-footer__list[data-footer-menu-open] {
    margin-top: 15px;
  }
}
html:not([data-fls-touch]) .up-footer__link:hover {
  color: #252B42;
  text-decoration: underline;
}
.up-footer__list--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.375rem;
  color: #007DFC;
  text-decoration: none;
}

.down-footer {
  background-color: #E1F4FF;
}
@media (min-width: 65.625em) {
  .down-footer__container {
    padding-block: 25px;
  }
}
@media (min-width: 43.75em) and (max-width: 65.625em) {
  .down-footer__container {
    padding-block: clamp( 20px , 10px  +  1.4285714286vw , 25px );
  }
}
@media (max-width: 43.75em) {
  .down-footer__container {
    padding-block: 20px;
  }
}
.down-footer__container {
  text-align: center;
  color: #737373;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.714;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1080px;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* @import url('font.css'); */