//BG
$light-bg:#E1F4FF;
$dark-bg:#252B42;

//РІЗНІ КНОПКИ
$primary-color:#31A0FE;
$logo-color:#007DFC;

// TEXT

$grey-text-color:#737373;
$dark-text-color:#252B42;
$light-text-color:#ffffff;
$muted-color:#BDBDBD;

//різні bg фігури
$color-tonal-2:#D6F1CC;
$color-tonal-1:#D4EAF6;
$color-tonal-3:#F3DCD5;



// Backgrounds
$bg-main:#E1F4FF;
$bg-dark:#252B42;

// Brand & Actions
$color-primary: #31A0FE;
$color-brand:#007DFC;

// Typography
$text-main:#252B42;
$text-support: #737373;
$text-light:#ffffff;
$text-muted:#BDBDBD;

// Decorative Shapes
$shape-tone-1:#D4EAF6;
$shape-tone-2:#D6F1CC;
$shape-tone-3:#F3DCD5;
$shape-tone-4:#23856D;