 @use "_mixins.scss" as *;

// @mixin typo($type: "h1",  $weight:500){
//    @if $type == "h1"{
//       // font-size: toRem(32);
//       @include adaptiveValue("font-size",32 ,24);
//       line-height: 1.25;
//       font-weight: 800;
//       text-transform: uppercase;
//    }@else if $type == "h2-24"{
//       font-size: toRem(24);
//       line-height: 1.5;
//       font-weight: 800;
//       text-transform: uppercase;
//    }@else if $type =="h2-20"{
//       font-size:toRem(20);
//       line-height: 1.4;
//       font-weight: 800;
//       text-transform: uppercase;
//    }@else if $type =="h4"{
//       font-size: toRem(14);
//       line-height: 1.42;
//       font-weight: $weight;
//    }@else{
//       line-height: 1.25;
//       font-weight: $weight;
//    }

// }
@mixin typo($type: "h1"){
   @if $type =="h1"{
      @include adaptiveValue("font-size",48,38,0,1050,900);
      font-weight: 800;
      line-height: 1.33;
      font-family: "Open Sans",sans-serif;
   }@else if $type =="h2"{
      font-size: toRem(40);
      font-weight: 700;
      line-height: 1.425;
      font-family: "Open Sans",sans-serif;
   }@else if $type =="h3"{
      font-size: toRem(24);
      font-weight: 700;
      line-height: 1.33;
      font-family: "Open Sans",sans-serif;
   }@else if $type =="h4"{
      font-size: toRem(20);
      font-weight: 400;
      line-height: 1.5;
      font-family: "Open Sans",sans-serif;
   }@else if $type =="h5"{
      font-size: toRem(16);
      font-weight: 700;
      line-height: 1.5;
   }@else if $type =="h6"{
      font-size: toRem(14);
      font-weight: 700;
      line-height: 1.714;
   }@else if $type =="btn-txt"{
      font-size: toRem(14);
      font-weight: 700;
      line-height: 2;
   }@else if $type =="p"{
      font-size: toRem(14);
      font-weight: 400;
      line-height: 1.428;
   }@else if $type =="list"{
      font-size: toRem(20);
      font-weight: 600;
      line-height: 1.5;
   }@else if $type =="small"{
      font-size: toRem(12);
      font-weight: 400;
      line-height: 1.33;
   }@else if $type =="h6-nav"{
      font-size: toRem(16);
      font-weight: 600;
      line-height: 1.714;}
}